body {
    margin: 0;
    background-color: rgb(160, 58, 45);
}

#contenedor-principal {
    background-color: #F5F5F4;
    margin: 0% 10%;
    padding: 2% 2.5% 2.5% 2.5%;
}

#encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linea {
    width: 35%;
    height: 0px;
    border-bottom: 3px solid black;
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin: 20px 0px;
    width: 30%;
}

h2 {
    color:rgb(160, 58, 45);
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
}

h3 {
    text-align: center;
    color:black;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    margin: 30px 0px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin-top: 0px;
    text-align: justify;
}

#fotos {
    position: relative;
    width: 100%;
    height: 550px;
}

#fotos img{
    width: 30%;
    position: absolute;
  }

#pekin1 {
    top: 8vh;
    left: 0%;
    z-index: 4;
}

#pekin2 {
    top: 10vh;
    left: 22%;
    z-index: 2;
}

#pekin3 {
    top: 0vh;
    left: 48%;
    z-index: 1;
}

#pekin4 {
    top: 30vh;
    left: 70%;
    z-index: 3;
}

#texto {
    position: relative;
}

#destinos li {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: justify;
}

#referencias li {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    padding-bottom: 5px;
}

#referencias {
    height: 50px;
    overflow: scroll;
}

#libro {
    height: 50px;
    float: left;
}
